Repository team-dododok/honeypot-fe, pull requests merged in 2024-11, with the labels that each got.

#5 [Design] 프로필 수정 UI
  package.json
  public/assets/images/profile/img-profile-1-120-varient.svg
  public/assets/images/profile/img-profile-1-120.svg
  public/assets/images/profile/img-profile-2-120-varient.svg
  public/assets/images/profile/img-profile-2-120.svg
  public/assets/images/profile/img-profile-3-120-varient.svg
  public/assets/images/profile/img-profile-3-120.svg
  public/assets/images/profile/img-profile-4-120-varient.svg
  public/assets/images/profile/img-profile-4-120.svg
  public/assets/images/profile/img-profile-5-120-varient.svg
  public/assets/images/profile/img-profile-5-120.svg
  public/assets/images/profile/img-profile-6-120-varient.svg
  public/assets/images/profile/img-profile-6-120.svg
  src/components/Button/BackButton.tsx
  src/components/Input/Input.tsx
  src/layouts/MainLayout.tsx
  src/pages/profile/ProfilePage.tsx
  src/pages/profile/ProfileUpdatePage.tsx
  src/routes/index.tsx
  src/store/useToast.tsx
  yarn.lock
Labels: ✨ feat, :lipstick: design

#6 [Feat] 칭찬 보내기 UI
  public/assets/icons/question.svg
  public/assets/images/stamp/img-stamp-select.svg
  src/components/Button/Button.tsx
  src/components/Input/Input.tsx
  src/components/Input/LinedInput.tsx
  src/components/Modal/BottomModal.tsx
  src/components/Modal/CenterModal.tsx
  src/constants/check.ts
  src/constants/menu.ts
  src/features/Compliment/components/KakaoPreview.tsx
  src/features/Compliment/components/Letter/ComplimentLetter.tsx
  src/features/Compliment/components/Letter/Letter.tsx
  src/features/Compliment/components/Modal/InfoModal.tsx
  src/features/Compliment/components/Modal/PreviewModal.tsx
  src/features/Compliment/constants/description.ts
  src/features/Group/components/GroupListBox.tsx
  src/features/Group/components/Modal/GroupModal.tsx
  src/features/Group/constant/dummy/groupList.ts
  src/features/Signup/layout/CommonLayout.tsx
  src/features/Stamp/components/Modal/StampModal.tsx
  src/features/Stamp/components/StampLabel.tsx
  src/features/Stamp/constants/stamp.ts
  src/layouts/SubLayout.tsx
  src/pages/GuidePage.tsx
  src/pages/compliment/receive/ComplimentReceivePage.tsx
  src/pages/compliment/send/ComplimentSendCompletePage.tsx
  src/pages/compliment/send/ComplimentSendContentPage.tsx
  src/pages/compliment/send/ComplimentSendTargetPage.tsx
  src/pages/profile/ProfilePage.tsx
  src/pages/profile/ProfileUpdatePage.tsx
  src/pages/signup/SignUpEmailPage.tsx
  src/pages/signup/SignUpNamePage.tsx
  src/pages/signup/SignUpProfilePage.tsx
  src/routes/index.tsx
  src/styles/GlobalStyle.tsx
  src/styles/theme.ts
  src/types/components/ButtonProps.tsx
  src/types/components/InputProps.tsx
Labels: ✨ feat, :lipstick: design

#12 [Design] 그룹 관리 UI
  package.json
  public/assets/icons/ic-move-20.svg
  public/assets/icons/icn-upwardarrow.svg
  public/assets/icons/icon-trash.svg
  public/assets/images/group/img-nonestamp.svg
  src/components/Button/ArrowButton.tsx
  src/components/Button/DraggableButton.tsx
  src/features/Group/components/Modal/CreateGroupModal.tsx
  src/pages/group/GroupManagementPage.tsx
  src/routes/index.tsx
  yarn.lock
Labels: ✨ feat, :lipstick: design

#14 [Fix] Storybook 오류 해결
  .storybook/main.tsx
Labels: :bug: fix

#15 [Feat] 뱃지 이미지 저장 기능
  package-lock.json
  package.json
  src/features/Badge/components/Badge.tsx
  src/features/Badge/components/BadgeModal.tsx
  src/features/Badge/components/Container/BadgeContainer.tsx
  src/features/Badge/types/Badge.tsx
  src/pages/badge/BadgePage.tsx
  src/utils/saveImage.ts
  yarn.lock
Labels: ✨ feat

#16 [Feat] 카카오 로그인 및 회원가입 연동
  src/api/authAxios.tsx
  src/features/Login/api/kakao.ts
  src/features/Login/types/kakao.d.ts
  src/pages/login/KakaoPage.tsx
  src/pages/signup/SignUpProfilePage.tsx
  src/utils/storage.ts
Labels: ✨ feat

#18 [Feat] 이메일 수정 페이지
  src/components/Input/Input.tsx
  src/layouts/SubLayout.tsx
  src/pages/profile/EmailUpdatePage.tsx
  src/pages/profile/ProfileUpdatePage.tsx
  src/routes/index.tsx
  src/types/components/InputProps.tsx
Labels: ✨ feat, :lipstick: design

#19 [Design] 그룹 내부 UI 오류 수정
  public/assets/icons/instagram.svg
  public/assets/icons/shop.svg
  public/assets/images/group/stamp/none-stamp.svg
  src/components/BottomSheet/BottomSheet.tsx
  src/components/Header/Header.tsx
  src/components/Info/Info.tsx
  src/components/Modal/BottomModal.tsx
  src/components/Sidebar/MenuSection.tsx
  src/components/Sidebar/SidebarMenu.tsx
  src/components/Toggle/TabToggle.tsx
  src/constants/menu.ts
  src/features/Stamp/components/Stamp/StampList.tsx
  src/pages/group/GroupDetailPage.tsx
  src/styles/Animation.tsx
Labels: :bug: fix, :lipstick: design

#20 [Feat] 칭찬 받기 UI
  public/assets/images/compliment/img-bongbong-background-face.svg
  src/features/Compliment/components/Letter/ComplimentLetter.tsx
  src/features/Compliment/components/Letter/Letter.tsx
  src/features/Login/api/kakao.ts
  src/features/Login/components/KakaoButton.tsx
  src/layouts/MainLayout.tsx
  src/layouts/YellowBackgroundLayout.tsx
  src/pages/compliment/ComplimentDetailPage.tsx
  src/pages/group/GroupDetailPage.tsx
  src/pages/signup/SignUpProfilePage.tsx
  src/routes/index.tsx
  src/styles/GlobalStyle.tsx
  src/utils/storage.ts
Labels: :lipstick: design

#25 [Feat] 유저, 받은 칭찬 도메인 API 연동
  package.json
  src/api/.gitkeep
  src/api/receivedPraise/deleteReceivedPraise.ts
  src/api/receivedPraise/getGroupReceivedPraise.ts
  src/api/receivedPraise/getUuidReceivedPraise.ts
  src/api/receivedPraise/interfaces/ReceivedPraise.ts
  src/api/receivedPraise/postReceivedPraise.ts
  src/api/user/getMemberInfo.ts
  src/api/user/getMemberProfileImage.ts
  src/api/user/patchMember.ts
  src/hooks/.gitkeep
  src/hooks/receivedPraise/useDeleteReceivedPraise.ts
  src/hooks/receivedPraise/useGroupReceivedPraise.ts
  src/hooks/receivedPraise/usePostReceivedPraise.ts
  src/hooks/receivedPraise/useUuidReceivedPraise.ts
  src/hooks/user/useMemberInfo.ts
  src/hooks/user/useMemberProfileImage.ts
  src/hooks/user/usePatchMember.ts
  src/pages/login/KakaoPage.tsx
  tsconfig.app.tsbuildinfo
  yarn.lock
Labels: ✨ feat

#28 [Feat] 프로필 조회 API 연동 및 메인 페이지 UI 수정
  package-lock.json
  public/assets/images/main/honey-map.svg
  public/assets/images/main/received-honey.svg
  src/App.tsx
  src/api/queryClient.ts
  src/components/Header/Header.tsx
  src/features/Main/components/GroupPagination.tsx
  src/features/Main/components/HoneyCard.tsx
  src/features/Main/components/HoneyGroup.tsx
  src/features/Main/components/MainBottomSheet.tsx
  src/features/Main/components/MainBox.tsx
  src/hooks/user/useMemberProfileImage.ts
  src/layouts/MainLayout.tsx
  src/pages/MainPage.tsx
  src/pages/signup/SignUpProfilePage.tsx
  src/routes/index.tsx
  src/store/useSendComplimentStore.tsx
  src/styles/GlobalStyle.tsx
  src/utils/error.ts
  yarn.lock
Labels: ✨ feat, :lipstick: design

#30 [Feat] 마이페이지, 프로필 관련 API 연동
  public/assets/images/profile/profile-1-120-varient.svg
  public/assets/images/profile/profile-1-120.svg
  public/assets/images/profile/profile-2-120-varient.svg
  public/assets/images/profile/profile-2-120.svg
  public/assets/images/profile/profile-3-120-varient.svg
  public/assets/images/profile/profile-3-120.svg
  public/assets/images/profile/profile-4-120-varient.svg
  public/assets/images/profile/profile-4-120.svg
  public/assets/images/profile/profile-5-120-varient.svg
  public/assets/images/profile/profile-5-120.svg
  public/assets/images/profile/profile-6-120-varient.svg
  public/assets/images/profile/profile-6-120.svg
  src/api/user/getMemberInfo.ts
  src/api/user/getMemberProfileImage.ts
  src/api/user/patchMember.ts
  src/api/user/types/Member.ts
  src/constants/colors.ts
  src/features/Profile/components/Profile.tsx
  src/hooks/user/useMemberInfo.ts
  src/hooks/user/useMemberProfileImage.ts
  src/hooks/user/usePatchMember.ts
  src/pages/profile/EmailUpdatePage.tsx
  src/pages/profile/ProfileUpdatePage.tsx
  src/pages/signup/SignUpProfilePage.tsx
Labels: ✨ feat, :lipstick: design

#31 [Feat] 그룹 관리 API 연동
  src/api/group/deleteGroup.ts
  src/api/group/types/Group.ts
  src/components/Modal/WarningModal.tsx
  src/features/Group/constant/dummy/groupList.ts
  src/features/Main/components/GroupBox.tsx
  src/features/Main/components/GroupList.tsx
  src/features/Main/components/HoneyBlank.tsx
  src/features/Main/components/HoneyGroup.tsx
  src/features/Main/components/MainBottomSheet.tsx
  src/features/Profile/components/Profile.tsx
  src/features/Profile/constants/profile.ts
  src/hooks/group/useDeleteGroup.ts
  src/hooks/group/useGroup.ts
  src/hooks/group/usePatchGroupOrder.ts
  src/pages/group/GroupManagementPage.tsx
Labels: ✨ feat

#32 [Fix] groupName 매개변수가 사용되지 않음을 명시
  src/pages/compliment/ComplimentDetailPage.tsx
Labels: :bug: fix

#35 [Design] favicon logo 변경
  index.html
  public/favicon.ico
Labels: ✨ feat, :lipstick: design

#36 [Feat] 각종 페이지 마무리 작업
  public/assets/images/announcement/none-alarm.svg
  src/api/user/getMemberProfileImage.ts
  src/api/user/getServiceConsent.ts
  src/api/user/patchServiceConsent.ts
  src/api/user/types/Service.ts
  src/components/Sidebar/SidebarMenu.tsx
  src/components/Toggle/Toggle.tsx
  src/constants/menu.ts
  src/features/Group/components/Modal/CreateGroupModal.tsx
  src/features/Main/components/MainBox.tsx
  src/hooks/group/useDeleteGroup.ts
  src/hooks/group/usePostGroup.ts
  src/hooks/user/usePatchServiceConsent.ts
  src/hooks/user/useServiceConsent.ts
  src/layouts/AuthLayout.tsx
  src/pages/announcement/AnnouncementPage.tsx
  src/pages/profile/ProfileUpdatePage.tsx
  src/pages/setting/SettingTermsPage.tsx
  src/routes/index.tsx
  src/store/useSignupStore.tsx
Labels: :bug: fix, ✨ feat, :lipstick: design

#37 [Feat] 그룹 내부 API 연동
  public/assets/images/stamp/none-stamp.svg
  src/api/email/postSendEmail.ts
  src/api/group/getGroupCheck.ts
  src/api/group/getGroupDetail.ts
  src/api/group/patchGroup.ts
  src/api/group/types/Group.ts
  src/api/receivedPraise/getGroupReceivedPraise.ts
  src/api/receivedPraise/types/ReceivedPraise.ts
  src/api/sendPraise/getGroupSendPraise.ts
  src/api/sendPraise/types/SendPraise.ts
  src/api/stamp/getReceiveStamp.ts
  src/components/Modal/WarningModal.tsx
  src/components/Toggle/TabToggle.tsx
  src/features/Compliment/components/Frame/LetterInfo.tsx
  src/features/Compliment/components/Letter/ReadLetter.tsx
  src/features/Compliment/types/HoneyLetter.tsx
  src/features/Group/components/Container/GroupTabContainer.tsx
  src/features/Group/components/Modal/EditGroupNameModal.tsx
  src/features/Stamp/components/Stamp/HoneyStamp.tsx
  src/features/Stamp/components/Stamp/StampCard.tsx
  src/features/Stamp/components/Stamp/StampList.tsx
  src/features/Stamp/components/Stamp/StampView/Honey/HoneyView.tsx
  src/features/Stamp/components/Stamp/StampView/List/ListView.tsx
  src/hooks/group/useGroupCheck.ts
  src/hooks/group/useGroupDetail.ts
  src/hooks/group/usePatchGroup.ts
  src/hooks/receivedPraise/useGroupReceivedPraise.ts
  src/hooks/sendPraise/useGroupSendPraise.ts
  src/pages/compliment/send/ComplimentSendContentPage.tsx
  src/pages/group/GroupDetailPage.tsx
  src/utils/format.ts
Labels: ✨ feat

#38 [Fix] toggle 데이터 count 추가
  src/constants/toggle.ts
Labels: :bug: fix

#39 [Feat] 그룹 순서 변경, groupMember name
  src/api/group/patchGroupOrder.ts
  src/api/group/types/Group.ts
  src/features/Main/components/GroupBox.tsx
  src/features/Main/components/HoneyGroup.tsx
  src/features/Main/components/MainBottomSheet.tsx
  src/hooks/group/usePatchGroupOrder.ts
  src/pages/group/GroupManagementPage.tsx
Labels: :bug: fix

#40 [Feat] 토큰 재발급 및 QA 수정
  public/assets/images/compliment/bongbong-complete.svg
  src/api/auth/postReissue.ts
  src/api/authAxios.tsx
  src/api/queryClient.ts
  src/components/Input/Input.tsx
  src/features/Group/components/Modal/GroupModal.tsx
  src/hooks/badge/useBadge.ts
  src/hooks/email/useSendEmail.ts
  src/hooks/email/useVerifyEmail.ts
  src/hooks/group/useDeleteGroup.ts
  src/hooks/group/useGroup.ts
  src/hooks/group/useGroupDetail.ts
  src/hooks/group/useGroupSearch.ts
  src/hooks/group/usePostGroup.ts
  src/hooks/receivedPraise/usePostReceivedPraise.ts
  src/hooks/sendPraise/usePostSendPraise.ts
  src/hooks/stamp/useReceiveStamp.ts
  src/hooks/stamp/useSendStamp.ts
  src/hooks/stamp/useStampImage.ts
  src/hooks/user/useMemberInfo.ts
  src/hooks/user/useMemberProfileImage.ts
  src/hooks/user/useServiceConsent.ts
  src/pages/compliment/send/ComplimentSendCompletePage.tsx
  src/pages/login/LoginPage.tsx
  src/pages/profile/EmailUpdatePage.tsx
  src/pages/signup/SignUpAgreePage.tsx
  src/pages/signup/SignUpCompletePage.tsx
  src/pages/signup/SignUpEmailPage.tsx
  src/pages/signup/SignUpNamePage.tsx
  src/types/components/InputProps.tsx
Labels: ✨ feat
